@import './config.variables';

// Reset appearance of a button.
@mixin removeButtonAppearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

// Additionnal "utility" breakpoints aliases
// ex. @include respond-to("medium-up") {...}
$breakpoints-media-queries: (
  retina: (min-resolution: 2dppx),
);

@each $bpName, $bpMaxSize in $breakpoints {
  $breakpoints-media-queries: map-merge(
      $breakpoints-media-queries,
      ($bpName: (max-width: #{$bpMaxSize - 1}))
  );

  $breakpoints-media-queries: map-merge(
      $breakpoints-media-queries,
      (#{$bpName}-up: (min-width: #{$bpMaxSize}))
  );
}

// Source : https://www.sitepoint.com/managing-responsive-breakpoints-sass/
@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints-media-queries, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints-media-queries, $name))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved.";
  }
}
