@import "./fonts/Montserrat/style";

// Fonts
$font-family-text: Montserrat, sans-serif;
$font-family-title: Montserrat, sans-serif;

// Colors

/* SCSS RGB */
$imperial-red: rgba(230, 57, 70, 1);
$honeydew: rgba(241, 250, 238, 1);
$powder-blue: rgba(168, 218, 220, 1);
$celadon-blue: rgba(69, 123, 157, 1);
$prussian-blue: rgba(29, 53, 87, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-right: linear-gradient(90deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-bottom: linear-gradient(180deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-left: linear-gradient(270deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-top-right: linear-gradient(45deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-bottom-right: linear-gradient(135deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-top-left: linear-gradient(225deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-bottom-left: linear-gradient(315deg, $imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);
$gradient-radial: radial-gradient($imperial-red, $honeydew, $powder-blue, $celadon-blue, $prussian-blue);

// Theme
$primary-color: $imperial-red;
$secondary-color: $celadon-blue;
