<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="My app description">
  <title>Maxence LEFEBVRE | CV</title>

  <style>
    .splash--container {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-family: "proxima-nova-soft", sans-serif;
      -webkit-user-select: none;
      overflow: hidden;
      background: #2c2d44;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .splash--container .splash--vertical-centered-box {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .splash--container .splash--vertical-centered-box:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    .splash--container .splash--vertical-centered-box .splash--content {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      font-size: 0;
    }
    .splash--container, .splash--container * {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    .splash--loader-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
      margin-left: -60px;
      margin-top: -60px;
    }

    .splash--loader-line-mask {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 120px;
      margin-left: -60px;
      margin-top: -60px;
      overflow: hidden;
      -webkit-transform-origin: 60px 60px;
      -moz-transform-origin: 60px 60px;
      -ms-transform-origin: 60px 60px;
      -o-transform-origin: 60px 60px;
      transform-origin: 60px 60px;
      -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
      -webkit-animation: splash--rotate 1.2s infinite linear;
      -moz-animation: splash--rotate 1.2s infinite linear;
      -o-animation: splash--rotate 1.2s infinite linear;
      animation: splash--rotate 1.2s infinite linear;
    }
    .splash--loader-line-mask .splash--loader-line {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    }

    .splash--particles-background,
    .splash--particles-foreground {
      position: absolute;
      left: -51%;
      top: -51%;
      width: 202%;
      height: 202%;
      transform: scale3d(0.5, 0.5, 1);
    }

    .splash--particles-background {
      background: #2c2d44 linear-gradient(45deg, #3f3251 2%, #002025 100%);
    }

    .splash--logo {
      color: white;
      height: 3rem;
    }

    @keyframes splash--rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes splash--fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  </style>
</head>
<body class="body--has-splash">

<!-- App mount point -->
<div id="app"></div>

<!-- Splash screen -->
<div id="splash" class="splash--container">
  <div id="splash--particles-background" class="splash--particles-background"></div>
  <div id="splash--particles-foreground" class="splash--particles-foreground"></div>

  <div class="splash--vertical-centered-box">
    <div id="splash--content" class="splash--content">
      <div class="splash--loader-circle"></div>
      <div class="splash--loader-line-mask">
        <div class="splash--loader-line"></div>
      </div>
      <svg viewBox="0 0 223.03 325.95"
           xmlns="http://www.w3.org/2000/svg"
           class="splash--logo"
      >
        <path d="M.008 0v181.312h126.636c44.652-10.888 79.384-40.95 79.384-89.945C206.028 31.247 163.973 0 83.644 0H.008zm41.11 32.664H88.37c50.087 0 73.714 17.043 73.714 58.703 0 45.21-26.934 62.488-73.714 62.488H41.119V32.665zM.009 238.25v87.685h41.11V238.25H.009zm118.206 0l55.683 87.685h49.143l-58.443-87.685h-46.38z"
              aria-label="R"
              fill="currentColor"
        />
      </svg>
    </div>
  </div>
</div>

<script type="application/javascript">
  window.env = {
    SENTRY_DSN: '$MY_APP_SENTRY_DSN',
    ENVIRONMENT: '$MY_APP_ENVIRONMENT',
  };
</script>
</body>
</html>
